body {
    overflow: scroll;
}

.search {
    top: 100px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%); /* 移动元素本身50% */
}

.content {
    position: absolute;
    top: 200px;
    width: 80%;
    left: 10%;
    right: 10%;
}

.item {
    position: relative;
    float: left;
    padding: 1%;
    padding-bottom: 8%;
    width: 7%;
    height: 0;
}

img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 60%;
}

ul span {
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: larger;
}

.link_li {
    position: relative;
    float: left;
    width: auto;
    padding: 1%;
}

/*清除浮动代码*/
.clearfloat {
    clear: both
}

.login {
    float: right;
}